<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>866751377310-q90kouecdjeqml3m2hhm1atopp3hoegh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.866751377310-q90kouecdjeqml3m2hhm1atopp3hoegh</string>
	<key>API_KEY</key>
	<string>AIzaSyBrCPf_GBuiIzrtOecqAFZ3rKET9nsPMGE</string>
	<key>GCM_SENDER_ID</key>
	<string>866751377310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hakankorhasan.com.LiveChat</string>
	<key>PROJECT_ID</key>
	<string>livec-81519</string>
	<key>STORAGE_BUCKET</key>
	<string>livec-81519.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:866751377310:ios:b3a4921ae05d34f63f308f</string>
</dict>
</plist>